Repository hatchways/team-matcha, pull requests merged in 2020-02, with the labels that each got.

#64 Brian/#54/min1 day available
  server/project/api/events_handler.py
  server/project/error_handlers.py
  server/project/models/event.py
  server/project/test/event_handler_test.py
Labels: Client, Server, bug

#69 #60/speed up timezones
  server/manage.py
  server/project/__init__.py
  server/project/api/timezone_handler.py
  server/project/models/timezone.py
  server/project/test/timezone_longtest.py
  server/project/test/timezone_test_base.py
Labels: Client, Server

#72 Brian/#14/appointment model
  server/project/__init__.py
  server/project/models/appointment.py
  server/project/models/participants.py
  server/project/test/appointment_test.py
  server/project/test/participant_test.py
Labels: Server

#74 Integrate google calendar api
  .gitignore
  client/src/pages/LoginPage/LoginPage.js
  server/Pipfile
  server/project/__init__.py
  server/project/api/auth_handler.py
  server/project/api/calendar_handler.py
  server/project/api/events_handler.py
  server/project/api/home_handler.py
  server/project/api/ping_handler.py
  server/project/api/timezone_handler.py
  server/project/api/users_handler.py
  server/project/calendars.py
  server/project/error_handlers.py
  server/project/models/creds.py
  server/project/models/user.py
  server/project/services/google_auth.py
  server/project/services/google_calendar.py
  server/project/test/auth_longtest.py
  server/project/test/calendar_handler_test.py
  server/project/test/credential_test.py
  server/project/test/event_handler_test.py
Labels: Server

#76 Participants -> Participant
  server/project/models/appointment.py
  server/project/models/participant.py
  server/project/test/appointment_test.py
  server/project/test/participant_test.py
Labels: Server
